{% extends 'base.html' %}
{% block title %}
    {{ kn.title }}
{% endblock %}
{% block body %}
    {{ kn.title }}
    <hr>
    {{ kn.html_content }}
    <ul class="thumbnails">
        <li class="span4">
            <div class="thumbnail">
                <img data-src="holder.js/300x200" alt="" src="{{ url_for('static', filename='upload/img_500.png') }}"
                     class="img-polaroid">

                <h3>Thumbnail label</h3>

                <p>Thumbnail caption...</p>
            </div>
        </li>
    </ul>
    <h1>views {{ rank.view_counts }}</h1>
    <h1>pv {{ rank.pv }}</h1>
{% endblock %}