{% extends 'base.html' %}
{% block body %}
    <div style="height:300px; width:300px; margin:0 auto;">
        <h2>add kn post</h2>
        <form method="POST" action=""  enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {% for f in form if f.type != 'CSRFTokenField' %}
                <div>
                    {{ f.label }}
                    {{ f }}
                    {% if f.errors %}
                        <ul>
                            {% for e in f.errors %}
                                <li>{{ e }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endfor %}
            <input type="submit" value="post a kn"/>
        </form>
    </div>
{% endblock %}