{% extends 'base.html' %}
{% block body %}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="http://jzaefferer.github.com/jquery-validation/jquery.validate.js"></script>

    <div class="form-actions">
        <h2>Register</h2>

        <form method="POST" action="">
            {{ form.hidden_tag() }}
            {% for f in form if f.type != 'CSRFTokenField' %}
                <div>
                    {{ f.label }}
                    {{ f }}
                    {% if f.errors %}
                        <ul>
                            {% for e in f.errors %}
                                <li>{{ e }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox">I accept the TOS
                    </label>
                    <button type="submit" class="btn">register</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}