<p class="text-center"> {{ uppo }}</p>
<div class="form-inline">
    <ul>
        <li><a href="/pixtch/admin">admin</a></li>
        <li><a href="/test">login test</a></li>
        <li><a href="/kn/add_kn_post">add kn post</a></li>
         <li><a href="/rank">rank</a></li>
        <li><a href="/register">register</a></li>
        <li><a href="{{ url_for('uppo.uppo_home') }}">{{ url_for('uppo.uppo_home') }}</a></li>
        <li><a href="/login">login</a></li>
        <li><a href="/logout" target="_blank">logout</a></li>
        <li><a href="/search">search</a></li>
        <li><a href="/404">404</a></li>
        <li><a href="/401">401</a></li>
    </ul>
</div>