{% extends "bootstrap_responsive.html" %}
{% import "bootstrap_wtf.html" as wtf %}
{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}

{#    <title>#}
{% block title %}{% endblock %}

{% block style %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/standard.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    {%- block body_content %}
    {%- endblock body_content %}
    {% block bootstrap_js_bottom %}
        {{ super() }}
        <p class="copyright">© 2013 PIXTCH, INC. All rights reserved.</p>
    {% endblock %}
{% endblock %}

{#</body>#}
{#</html>#}