{% extends 'layout.html' %}
{% block title %}
    Home
{% endblock %}
{% block body %}
Pixtch {{ uppo }}
    <div>
        <ul>
            <li><a href="/admin" >admin</a></li>
            <li><a href="/test" >login test</a></li>
            <li><a href="/add_kn_post" >add kn post</a></li>
            <li><a href="/register" >register</a></li>
            <li><a href="/login" >login</a></li>
            <li><a href="/logout" target="_blank">logout</a></li>

{#            <li><a title="login2" href="{{ url_for('.login') }}" target="_blank"></a></li>#}
        </ul>
    </div>
{% endblock %}