{% extends 'pixtch/base_pixtch.html' %}
{% block body %}
    <div style="height:300px; width:300px; margin:0 auto;">
        <h2>Sign Up</h2>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            {% for f in form if f.type != 'CSRFTokenField' %}
                <div>
                    {{ f.label }}
                    {{ f }}
                    {% if f.errors %}
                        <ul>
                            {% for e in f.errors %}
                                <li>{{ e }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endfor %}
            <input type="submit" value="register"/>
        </form>
    </div>
{% endblock %}